# The "display name", shown in the GitHub UI
name: Build and test

# Trigger, run on push on any branch
on:
  push:

jobs:
  test: # The 'build' job
    name: "Build application"
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v4
      # install go
      - name: Setup go
        uses: actions/setup-go@v4
        with: #variables
          go-version: "1.21.x"

        # print go version
      - run: go version

      # build project
      - name: Build
        run: go build -v ./...

      # run tests
      - name: Test
        run: go test ./...

      - name: Verify formatting
        run: |
          no_unformatted_files="$(gofmt -l $(git ls-files '*.go') | wc -l)"
          exit "$no_unformatted_files"



